<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630735264605-jut53pa4sa82jhnjh24hmd8up1une0j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630735264605-jut53pa4sa82jhnjh24hmd8up1une0j7</string>
	<key>API_KEY</key>
	<string>AIzaSyAK9yTkMMbpNYZDE4GN6BeaO720OZz1TkM</string>
	<key>GCM_SENDER_ID</key>
	<string>630735264605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anselm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>anselm-401702</string>
	<key>STORAGE_BUCKET</key>
	<string>anselm-401702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630735264605:ios:763308b518182abb72a6b4</string>
	<key>DATABASE_URL</key>
	<string>https://anselm-401702-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>